{{!-- <h1>navbar hvuh</h1> --}}

{{!-- 
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Registration</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>

</body> --}}

{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

nav {
    height: 60px;
    background-color:rgb(97, 13, 176);
    color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}


    </style>
</head>
<body>
    <div class="nav-div">
         <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/register">Registration</a></li>
                <li><a href='../views/login.hbs'>Login</a></li>
            </ul>
        </nav>
    </div>
   
</body>
</html> --}}








<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.nav-bar{
    display:flex;
    background-color: rgb(14, 115, 197);
    color: white;
}

.navele{
    display: flex;
    padding:20px;
    /* justify-content: flex-end; */
    /* margin-left: 10px; */
    padding-left: 900px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.logo{
    font-size: 1.7rem;
    margin-left: 10px;
    font-weight: 600;
}

.e1{
    padding-left:15px ;
}

a {
    color: inherit; 
    text-decoration: none;
}



    </style>
</head>
<body>
    <div class="nav-bar">
        <div><p class="logo">Login</p></div>
        <div class="navele">
            <div class="e1"><a href="#">Home</a></div>
            <div class="e1"><a href="/register">Register</a></div>
            <div class="e1"><a href='../views/login.hbs'>Login</a></div>
        </div>
    </div>
   
</body>
</html>